.donation-donation {
  width: 100%;
  height: 1817px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.donation-rectangle3 {
  top: 0px;
  left: -47px;
  width: 1833px;
  height: 149px;
  position: absolute;
  border-color: transparent;
}
.donation-menu {
  top: 51px;
  left: 467px;
  width: 506px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-menu-list {
  top: 0px;
  left: 0px;
  width: 506px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text02 {
  left: 107px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text04 {
  left: 215px;
  color: rgba(26, 143, 227, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text06 {
  left: 346px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text08 {
  left: 442px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-sign-in {
  top: 43px;
  left: 1096px;
  width: 120px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-text10 {
  top: 8px;
  left: 34px;
  color: rgba(26, 143, 227, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-sign-up {
  top: 43px;
  left: 1240px;
  width: 120px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(26, 143, 227, 1);
}
.donation-text12 {
  top: 8px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text14 {
  top: 126px;
  left: 413px;
  color: rgba(53, 53, 53, 1);
  width: 868px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-text15 {
  color: rgba(53, 53, 53, 1);
}
.donation-text16 {
  color: rgba(26, 143, 227, 1);
}
.donation-group2163 {
  top: 331px;
  left: -14px;
  width: 1440px;
  height: 1786px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-image496 {
  top: 0px;
  left: 206px;
  width: 1097px;
  height: 510px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.donation-text18 {
  top: 556px;
  left: 202px;
  color: rgba(53, 53, 53, 1);
  width: 1064px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-donate-now {
  top: 1365px;
  left: 425px;
  width: 590.2649536132812px;
  height: 124px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-rectangle2 {
  top: 0px;
  left: 0px;
  width: 506px;
  height: 124px;
  position: absolute;
  border-color: rgba(26, 143, 227, 1);
  border-style: solid;
  border-width: 1.2999999523162842px;
  border-radius: 20px;
}
.donation-text23 {
  top: 26.5067138671875px;
  left: 100.541015625px;
  color: rgba(26, 143, 227, 1);
  width: 490px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-card-payment-flow {
  top: 762px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.donation-frame66 {
  top: -51px;
  left: 826px;
  width: 572px;
  display: flex;
  padding: 48px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
}
.donation-frame119 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
}
.donation-text25 {
  color: var(--dl-color-default-text);
  width: 207px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 8px;
}
.donation-line4 {
  width: 476px;
  height: 0px;
  position: relative;
}
.donation-frame58 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
}
.donation-text27 {
  color: var(--dl-color-default-text);
  width: 92px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 12px;
  margin-right: 0;
  margin-bottom: 16px;
}
.donation-frame4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.donation-card {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 19px;
  justify-content: center;
}
.donation-frame3 {
  width: 15px;
  height: 15px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 8px;
}
.donation-ellipse2 {
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  position: absolute;
  border-color: transparent;
}
.donation-ellipse3 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(47, 188, 106, 1);
  border-style: solid;
  border-width: 2px;
}
.donation-text29 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-bank {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 19px;
  justify-content: center;
}
.donation-frame31 {
  width: 15px;
  height: 15px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 8px;
}
.donation-ellipse31 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 2px;
}
.donation-text31 {
  color: var(--dl-color-default-stroke);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-transfer {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.donation-frame32 {
  width: 15px;
  height: 15px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 8px;
}
.donation-ellipse32 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 2px;
}
.donation-text33 {
  color: var(--dl-color-default-stroke);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-frame65 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
}
.donation-frame63 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.donation-frame59 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.donation-text35 {
  color: var(--dl-color-default-text);
  width: 129px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 16px;
}
.donation-frame6 {
  display: flex;
  padding: 12px 0 12px 16px;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}
.donation-text37 {
  color: var(--dl-color-default-stroke);
  width: 460px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-frame62 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
}
.donation-frame61 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 18px;
  flex-direction: column;
}
.donation-text39 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 16px;
}
.donation-frame8 {
  width: 233px;
  display: flex;
  padding: 12px 0 12px 16px;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}
.donation-text41 {
  color: var(--dl-color-default-stroke);
  width: 165px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-frame60 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.donation-text43 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 16px;
}
.donation-frame10 {
  width: 214px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}
.donation-text45 {
  color: var(--dl-color-default-stroke);
  width: 138px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-savecarddetails {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.donation-frame21 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 172, 172, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 16px;
  border-radius: 2px;
}
.donation-text47 {
  color: var(--dl-color-default-stroke);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.donation-frame64 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.donation-pay {
  width: 476px;
  display: flex;
  padding: 20px 193px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 23px;
  justify-content: center;
  background-color: rgba(26, 143, 227, 1);
}
.donation-text49 {
  color: var(--dl-color-default-text2);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 12px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donation-text51 {
  color: rgba(37, 38, 39, 1);
  width: 475px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 22px;
  margin-right: 0;
  margin-bottom: 0;
}
.donation-donation-form {
  top: 33px;
  left: 136px;
  width: 580px;
  height: 556px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-group2177 {
  top: 0px;
  left: 0px;
  width: 580px;
  height: 556px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text53 {
  top: 55.36286163330078px;
  left: 121.60205078125px;
  color: rgba(53, 53, 53, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-donation-option {
  top: 130.43460083007812px;
  left: 46.14292907714844px;
  width: 454.2347106933594px;
  height: 46.91983413696289px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-rectangle6 {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 47px;
  position: absolute;
}
.donation-text55 {
  top: 12.902981758117676px;
  left: 65.10215759277344px;
  color: rgba(255, 255, 255, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-text57 {
  top: 12.902981758117676px;
  left: 306.2754211425781px;
  color: rgba(26, 143, 227, 0.5);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group1 {
  top: 239.5232391357422px;
  left: 37.265296936035156px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text59 {
  top: 10.556936264038086px;
  left: 38.469322204589844px;
  color: rgba(154, 154, 154, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group2 {
  top: 239.5232391357422px;
  left: 204.45912170410156px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text61 {
  top: 10.556936264038086px;
  left: 32.55105209350586px;
  color: rgba(154, 154, 154, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group3 {
  top: 239.5232391357422px;
  left: 371.6529541015625px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text63 {
  top: 10.556936264038086px;
  left: 31.071592330932617px;
  color: rgba(154, 154, 154, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group4 {
  top: 304.0379638671875px;
  left: 37.265296936035156px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text65 {
  top: 10.5569486618042px;
  left: 31.071378707885742px;
  color: rgba(154, 154, 154, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group5 {
  top: 304.0379638671875px;
  left: 204.45912170410156px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text67 {
  top: 10.5569486618042px;
  left: 26.63254737854004px;
  color: rgba(154, 154, 154, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-group6 {
  top: 304.0379638671875px;
  left: 371.6529541015625px;
  width: 147.9591827392578px;
  height: 42.227848052978516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.donation-text69 {
  top: 10.5569486618042px;
  left: 23.673648834228516px;
  color: rgba(154, 154, 154, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-custom-amount {
  top: 387.3206481933594px;
  left: 37.265296936035156px;
  width: 482.3469543457031px;
  height: 53.95780563354492px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.donation-text71 {
  top: 16.421960830688477px;
  left: 86.6325626373291px;
  color: rgba(26, 143, 227, 0.5);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-donate-now1 {
  top: 483.5063171386719px;
  left: 94.96940612792969px;
  width: 369.89794921875px;
  height: 51.611812591552734px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(26, 143, 227, 1);
}
.donation-text73 {
  top: 15.248946189880371px;
  left: 112.44877624511719px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-se45259logoorigremovebgpreview1 {
  top: 31px;
  left: 28px;
  width: 332px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.custom-amount-input {
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 10px;
  width: 200%;
  box-sizing: border-box;
  background-color: #f8f8f8; 
  color: #333; 
  font-size: 16px; 
  font-weight: bold; 
  margin-top: 10px; 
}


