.donation {
    width: 100%;
    height: 1817px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .rectangle3 {
    top: 0px;
    left: -47px;
    width: 1533px;
    height: 126px;
    position: absolute;
    border-color: transparent;
  }
  .menu {
    top: 51px;
    left: 467px;
    width: 506px;
    height: 33px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .menu-list {
    top: 0px;
    left: 0px;
    width: 506px;
    height: 20px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text02 {
    left: 107px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text04 {
    left: 215px;
    color: rgba(26, 143, 227, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text06 {
    left: 346px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text08 {
    left: 442px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle1 {
    top: 27px;
    left: 250px;
    width: 6px;
    height: 6px;
    position: absolute;
    border-color: transparent;
    border-radius: 100px;
  }
  .sign-in {
    top: 43px;
    left: 1096px;
    width: 120px;
    height: 40px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text10 {
    top: 8px;
    left: 34px;
    color: rgba(26, 143, 227, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .sign-up {
    top: 43px;
    left: 1240px;
    width: 120px;
    height: 40px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(26, 143, 227, 1);
  }
  .text12 {
    top: 8px;
    left: 31px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text14 {
    top: 221px;
    left: 313px;
    color: rgba(53, 53, 53, 1);
    width: 868px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .text15 {
    color: rgba(53, 53, 53, 1);
  }
  .text16 {
    color: rgba(26, 143, 227, 1);
  }
  .group2163 {
    top: 515px;
    left: 83px;
    width: 1271px;
    height: 1090px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .image496 {
    top: 37px;
    left: 28px;
    width: 1192px;
    height: 581px;
    position: absolute;
    border-color: transparent;
  }
  .text18 {
    top: 644.3111572265625px;
    left: 45.4375px;
    color: rgba(53, 53, 53, 1);
    width: 1064px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text23 {
    top: 581.3333129882812px;
    left: 45.4375px;
    color: rgba(154, 154, 154, 1);
    width: 246px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .donate-now {
    top: 930px;
    left: 312px;
    width: 590.2649536132812px;
    height: 124px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle2 {
    top: 0px;
    left: 0px;
    width: 506px;
    height: 124px;
    position: absolute;
    border-color: rgba(26, 143, 227, 1);
    border-style: solid;
    border-width: 1.2999999523162842px;
    border-radius: 20px;
  }
  .text25 {
    top: 26.5067138671875px;
    left: 100.541015625px;
    color: rgba(26, 143, 227, 1);
    width: 490px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .line3 {
    top: 845.3555908203125px;
    left: 45.4375px;
    width: 965px;
    height: 0px;
    position: absolute;
  }
  .line4 {
    top: 845.3555908203125px;
    left: 45.4375px;
    width: 532px;
    height: 0px;
    position: absolute;
  }
  .text27 {
    top: 821.1333618164062px;
    left: 1066.209228515625px;
    color: rgba(154, 154, 154, 1);
    width: 115px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .seemore {
    top: 1672px;
    left: 1164px;
    width: 117px;
    height: 23px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .text29 {
    color: rgba(26, 143, 227, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group2169 {
    top: 3px;
    left: 97px;
    width: 20px;
    height: 20px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .vector {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .vector1 {
    top: 6px;
    left: 10px;
    width: 4px;
    height: 8px;
    position: absolute;
  }
  .vector2 {
    top: 10px;
    left: 6px;
    width: 8px;
    height: 0px;
    position: absolute;
  }
  .se45259logoorigremovebgpreview1 {
    top: 31px;
    left: 28px;
    width: 332px;
    height: 74px;
    position: absolute;
    border-color: transparent;
  }
  