.home {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.menu {
  top: 51px;
  left: 467px;
  width: 506px;
  height: 33px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.menu-list {
  top: 0px;
  left: 0px;
  width: 506px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text {
  color: rgba(26, 143, 227, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text02 {
  left: 107px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text04 {
  left: 215px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text06 {
  left: 346px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text08 {
  left: 442px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle1 {
  top: 27px;
  left: 20px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.sign-in {
  top: 43px;
  left: 1096px;
  width: 120px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text10 {
  top: 8px;
  left: 34px;
  color: rgba(26, 143, 227, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up {
  top: 43px;
  left: 1240px;
  width: 120px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 10px; /* Update the value to adjust the curvature */
  margin-right: 0;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(26, 143, 227, 1);
}

.text12 {
  top: 8px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.background-circles {
  top: 71px;
  left: -178px;
  width: 994.2271118164062px;
  height: 939.1337890625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ellipse4 {
  top: 900.0880126953125px;
  left: 327.1337890625px;
  width: 90px;
  height: 90px;
  opacity: 0.30;
  position: absolute;
  border-color: transparent;
}
.ellipse3 {
  top: 0px;
  left: 132.7537841796875px;
  width: 223px;
  height: 223px;
  opacity: 0.30;
  position: absolute;
  border-color: transparent;
}
.ellipse6 {
  top: 878.0021362304688px;
  left: 994.2271118164062px;
  width: 47px;
  height: 47px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.form-vector {
  top: 211px;
  left: 783px;
  width: 626px;
  height: 611px;
  opacity: 0.18;
  position: absolute;
}
.text14 span:first-child{
  top: 106px;
  left: 40px;
  color: rgb(58, 50, 124);
  width: 653px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text90{
  top: 350px;
  left: 1px;
  color: rgba(53, 53, 53, 1);
  width: 653px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.donate-now {
  top: 679px;
  left: 101px;
  width: 150px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 10px; /* Update the value to adjust the curvature */
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(26, 143, 227, 1);
}

.text21 {
  top: 10px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-form {
  top: 275px;
  left: 900px;
  width: 392px;
  height: 474px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text23 {
  top: 31px;
  left: 93px;
  color: rgba(53, 53, 53, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donation-option {
  top: 95px;
  left: 42px;
  width: 307px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle6 {
  top: 0px;
  left: 0px;
  width: 158px;
  height: 40px;
  position: absolute;
}
.text25 {
  top: 11px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text27 {
  top: 11px;
  left: 207px;
  color: rgba(26, 143, 227, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group1 {
  top: 188px;
  left: 36px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text29 {
  top: 9px;
  left: 26px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group2 {
  top: 188px;
  left: 149px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text31 {
  top: 9px;
  left: 22px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group3 {
  top: 188px;
  left: 262px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text33 {
  top: 9px;
  left: 21px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group4 {
  top: 243px;
  left: 36px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text35 {
  top: 9px;
  left: 21px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group5 {
  top: 243px;
  left: 149px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text37 {
  top: 9px;
  left: 18px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group6 {
  top: 243px;
  left: 262px;
  width: 100px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text39 {
  top: 9px;
  left: 16px;
  color: rgba(154, 154, 154, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.custom-amount {
  top: 314px;
  left: 36px;
  width: 326px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text41 {
  top: 14px;
  left: 50px;
  color: rgba(26, 143, 227, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.donate-now1 {
  top: 396px;
  left: 75px;
  width: 250px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 10px; /* Update the value to adjust the curvature */
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(26, 143, 227, 1);
}

.text43 {
  top: 13px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.logo {
  top: 24px;
  left: 29px;
  width: 332px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.custom-amount-input {
  border: 1px solid #000;
  border-radius: 5px; 
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8; 
  color: #333; 
  font-size: 16px; 
  font-weight: bold; 
  margin-top: 10px; 
}

