.map-container {
  display: flex;
}

.report-content {
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  flex-grow: 1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.report label {
  margin-bottom: 10px;
}



.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.date-range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-range input {
  margin-right: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #008cba;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 500px;
}

.card-text {
  margin-bottom: 10px;
}

.text-title {
  font-size: 18px;
  font-weight: bold;
  color: #008cba;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img,
.card-img video {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

#map {
  height: 600px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}